#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


#plant {
  transform-origin: center center;
}
#ptz {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 10%;
  margin: auto;
  transform-origin: center center;
}
